.crossed-line {
    text-decoration: line-through;
}

/*.OrderCard__container {
*/
}

.OrderCard__Ripple {
	display: inline;
	width: 100%;
	border 0;
}


.OrderCard__main {
/*	box-shadow: 0px 3px 5px #333;*/
}