* {
	margin: 0px;
}

.crossed-line {
    text-decoration: line-through;
}


.OrderCard__Main {
	box-shadow: 0px 3px 5px #333;
	margin: 20px;
}

.OrderCard__closeButton{
	
	
}

.App__Title {
	margin-left: 43vw;
	margin-bottom: 10vh;
}

.Stream__title {
	text-align: center;
}

.App_Contents {
	margin-top: 8vh;
}


.Card__BarButton {
	flex: 0.5;
}
.Card__KitButton {
	flex: 0.5;
}